body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    background: #0e0609;
    overflow: hidden;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-in-out;
}

.container {
    position: relative;
    z-index: 2;
    top: 20vh;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    display: inline-block;
}

.select-box {
    margin: 10px;
}

select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    background-color: #57147e;
    color: white;
    transition: transform 0.2s ease, background 0.3s;
}

select:hover {
    transform: scale(1.05);
    background-color: #ff7aa2;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
}

#stars {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
